table {
  border-collapse: collapse; /* Remove default table spacing */
  width: 100%; /* Set table width to 100% */
  margin: 0 auto; /* Center the table horizontally */
}

th, td {
  padding: 10px;
  border: 1px solid #787878;
}

td a {
  color: green;
}

body {
  background: white url("images/background.png") no-repeat;
}