<h1>EDIT PAGE</h1>

<head>
  <!-- <link rel="stylesheet" href="styles.css"> -->
</head>

<form action="/movies/submitedit/{{ question.id }}/" method="POST">
  {% csrf_token %}
  Movie Name:<br /><input type="text" name="question_text" value="{{question.title}}" size="50" /><br /><br />

  Rating:<br /><input type="text" name="choice1" value="{{question.star}}" /><br /><br />

  Description:<br /><textarea name="choice2" cols="50" rows="10">{{question.desc}}</textarea><br /><br />

  <button>SUBMIT</button>
</form>