{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'movies/style.css' %}">

  <style>
    .container {
      border: 1px solid red;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      width: 260px;
      /* Adjust gap between elements */
    }

    .block {
      border: 1px solid #000;
      width: 50px;
      height: 50px;

    }
  </style>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const gridItems = document.querySelectorAll('.block');
      const inputBlockId = document.querySelector('input[name="block_id"]');

      gridItems.forEach(function (item) {
        item.addEventListener('click', function () {
          clear_focus();
          const blockId = parseInt(item.dataset.id);
          // alert('Clicked Block ID: ' + blockId);
          inputBlockId.value = blockId;
          item.style.border = '1px solid white';
        });
      });
    });

    function clear_focus() {
      const gridItems = document.querySelectorAll('.block');
      gridItems.forEach(function (item) {
        item.style.border = '1px solid black';
      });
    }
  </script>

</head>

<h1>Levi Liao</h1>

<a href="/movies">
  <h3>MOVIE HOME PAGE</h3>
</a><br />
<a href="/movies/createpoll">CREATE ONE</a><br /><br />
<a href="/movies/last_question">THE LAST ONE</a><br /><br />

<form action="/movies/search/" method="POST">
  {% csrf_token %}
  Keyword:<input type="text" name="keyword" size="50" value="{{keyword}}" />
  <button>SEARCH</button>
</form>
<br />

{% if latest_question_list %}
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for question in latest_question_list %}
    <tr>
      <td>{{ question.id }}</td>
      <td><a href="{% url 'movies:detail' question.id %}">{{ question.title }}</a></td>
      <td><a href="{% url 'movies:edit' question.id %}">[EDIT]</a></td>
      <td><a href="{% url 'movies:delete' question.id %}">[DELETE]</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}


{% if search_result %}
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    {% for item in search_result %}
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.title }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No movie are available.</p>
{% endif %}



{% endif %}



<br />
<div class="container">
  {% for item in data_list %}
  <div class="block" data-id="{{ item.id }}" style="background-color: {{ item.pixel_color }};"></div>
  {% endfor %}
</div>
<br />
<form action="/movies/change_color/" method="POST">
  {% csrf_token %}

  <select name="color_select" onchange="changeColor(this.value)">
    <option value="#FF0000">Red</option>
    <option value="#FFA500">Orange</option>
    <option value="#FFFF00">Yellow</option>
    <option value="#008000">Green</option>
    <option value="#0000FF">Blue</option>
    <option value="#00FFFF">Cyan</option>
    <option value="#800080">Purple</option>
  </select>
  ID:<input type="text" name="block_id" size="5" value="{{block_id}}" />
  <button>CHANGE</button>
</form>